<% def linkto(name,url)
    return "<a href='#{url}'>#{name}" 
    end%>

<html>
  <body>
    <h1>Layout McGee</h1>
    <marquee>SUP SUP SUP SUP suuuuuuuuuup 
  SUUUUPP!</marquee>
    <p>
      <h3>We layin OUT</h3>
      <p>Got the sunscreen on.</p>
      <a href='me.html'>Me</a>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3>Footer McDugal</h3>
      <p>Copyright / Terms of Service</p>
      <p>Here's a link to my album <%= linkto('Coffee Stain', 'http://www.coffeestain.com') %></p>
    </div>

  </body>
</html>