<h1>Yo, I'm Bri</h1>

<p>Welcome to my site! Sign the guestbook!</p>

<p> The time is......<%= Time.now %></p>

<ul>
  <% ['Monica', 'Sandra', 'Bri'].each do |girl| %>
    <li>A little bit of <%= girl %> in my life</li>
  <% end %>
</ul>



