<h1>Yo, I'm Bri</h1>

<marquee>SUP SUP SUP SUP suuuuuuuuuup 
	SUUUUPP!</marquee>

<p>Welcome to my site! Sign the guestbook!</p>

<ul>
  <% ['Monica', 'Sandra', 'Tina'].each do |girl| %>
    <li>A little bit of <%= girl %> in my life</li>
  <% end %>
</ul>